/*
*  Badge-style
*/
#modal {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000; }

#uswipe-badge {
    position: relative;
    height: 100%;
}
div[class^="uswipe-widget"] {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: auto;
}
div[class^="uswipe-widget"] button {
    margin: 0;
    border-radius: 0;
}
#payment li.payment_method_iswipe label[for*="iswipe"] img {
    max-width: 4em;
}
#btn-buy {
    padding: 10px 20px;
    background-color: deepskyblue;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
}
#btn-buy:hover {
    background-color: #55eac0;
}
#btn-close {
    position: absolute;
    font-size: 48px;
    top: 5px;
    right: 5px;
    z-index: 1;
}
